* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: #e0e5ec!important;
    color: #6c757d!important;
}
.form_div {
    border-radius: 8px;
    border: 1px solid #ffffff80;
    margin: auto;
    padding: 2rem!important;
    margin: 4rem auto!important;
    background-color: #e0e5ec;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(225, 225, 225,0.5);
    text-align: center;

}
.form_div h1 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    color: #000;
    font-weight: bold;
}
.form_div input,.form_div select, .form_div label {
    background-color: #e0e5ec;
    border: 1px solid #ffffff80!important;
    box-shadow: 9px 9px 19px #a3b1c699,-9px -9px 16px #ffffff80;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 10px;
    font-style: oblique;   
}
.form_div input, .form_div select {
    margin-right: 1rem;
    border-left: none!important;
}
.fa {
    text-transform: lowercase!important;
}
  
.form_div input:hover,.form_div select:hover{
    box-shadow: inset -10px -10px 30px 0 #ffffffb3, inset 10px 10px 30px 0 #ffffff49;
    
}
.form_div input:focus {
    background-color: #e0e5ec;
    border: 1px solid #ffffff80;
}
.btn {
    transition: color .70s ease-in-out,background-color .85s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
    margin-top: 1rem;
    background-color: #00D9A5!important;
    border: none;
}
.btn-outline-light:hover {
    color: #fff;
    background-color: #343a40!important;
}
a {
    text-decoration: none!important;
}